# Completezi aceste valori in Render -> Environment
WHATSAPP_TOKEN=TOKENUL_TAU_META
PHONE_NUMBER_ID=ID_NUMAR_WHATSAPP
GRAPH_API_VERSION=v23.0

# Optional. Daca ai template aprobat cu imagine in header:
# TEMPLATE_NAME=card_bringo
# TEMPLATE_LANGUAGE=ro

# Optional. Parola simpla pentru endpoint:
# BACKEND_API_KEY=alege_o_parola_lunga

# Pentru teste lasa *
CORS_ORIGIN=*
